/* src/index.css */

/* Prosty, ale skuteczny reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

#root {
  isolation: isolate;
  width: 100%;
}